<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer-socials">
            <div class="footer-socials__inner">
               <div class="footer-socials__item">
                  <a class="footer-socials__link" target="_blank" href="https://www.linkedin.com/in/olexandr-m-159b50224/">
                     <svg class="footer-socials__svg">
                        <use
                           xlink:href="images/sprite.svg#linkedin-in"
                           width="44"
                           height="50"
                        ></use>
                     </svg>
                  </a>
               </div>
               <div class="footer-socials__item">
                  <a class="footer-socials__link" target="_blank" href="https://github.com/molexandev">
                     <svg class="footer-socials__svg">
                        <use
                           xlink:href="images/sprite.svg#github"
                           width="48"
                           height="50"
                        ></use>
                     </svg>
                  </a>
               </div>
               <div class="footer-socials__item">
                  <a class="footer-socials__link" target="_blank" href="mailto:molexandev@gmail.com">
                     <svg class="footer-socials__svg">
                        <use
                           xlink:href="images/sprite.svg#envelope-regular"
                           width="50"
                           height="50"
                        ></use>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>















   <div class="arrow-go-up">
     <button
        class="arrow-go-up__square"
        id="scrollToTopBtn"
        onclick="scrollToTop()"
     >
     <svg class="arrow-go-up__svg">
        <use
        xlink:href="images/sprite.svg#arrow-right"
        width="32"
        height="14"
        ></use>
     </svg>
     </button>
   </div>
</footer>
<script src="js/main.min.js"></script>
</div>
</body>

</html>