<!DOCTYPE html>
<html lang="uk">
   <head>
      <meta charset="UTF-8" >
      <meta http-equiv="X-UA-Compatible" content="IE=edge" >
      <meta name="viewport" content="width=device-width, initial-scale=1.0" >
      <title>Portfolio</title>
      <link rel="stylesheet" href="css/style.min.css" >
   </head>
   <body>
      <div class="wrapper">
         <header class="header" id="header">
            <div class="container">
               <div class="header__wrapper">
                  <a class="logo" href="#">
                     <svg class="logo__svg">
                        <use
                           xlink:href="images/sprite.svg#logo"
                           width="165"
                           height="40"
                        ></use>
                     </svg>
                  </a>
                  <button class="menu__btn"><span></span></button>
                  <nav class="menu" id="menu">
                     <ul class="menu__list">
                        <li class="menu__item">
                           <a class="menu__link" href="#portfolio">Портфоліо</a>
                        </li>
                        <li class="menu__item">
                           <a class="menu__link" href="#skills">Навички</a>
                        </li>
                        <li class="menu__item">
                           <a class="menu__link" href="#about">Про мене</a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </header>

