<main class="main">
   <sectiuon class="portfolio">
      <div class="portfolio__content">
         <div class="container">
            <div class="portfolio__wrapper" id="portfolio">
               <h1 class="portfolio__title title">Портфоліо</h1>
               <div class="portfolio__chapter">
                  <h3 class="portfolio__chapter-title">Дивитись мої роботи</h3>
                  <div class="portfolio__inner">
                     <div class="portfolio__items">
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/taxstrategy/"
                              ><img
                                 class="portfolio__img"
                                 src="images/taxstrategy.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/taxstrategy/"
                              target="_blank"
                              >taxstrategy</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/organick/"
                              ><img
                                 class="portfolio__img"
                                 src="images/organic.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/organick/"
                              target="_blank"
                              >organic</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/uidesk/"
                              ><img
                                 class="portfolio__img"
                                 src="images/uidesk.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/uidesk/"
                              target="_blank"
                              >uidesk</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/twigs/"
                              ><img
                                 class="portfolio__img"
                                 src="images/twigs.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/twigs/"
                              target="_blank"
                              >twigs</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/books"
                              ><img
                                 class="portfolio__img"
                                 src="images/books.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/books"
                              target="_blank"
                              >books</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/glasshuts/"
                              ><img
                                 class="portfolio__img"
                                 src="images/glasshuts.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/glasshuts/"
                              target="_blank"
                              >glasshuts</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/agency/"
                              ><img
                                 class="portfolio__img"
                                 src="images/agency.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/agency/"
                              target="_blank"
                              >agency</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/mntn/"
                              ><img
                                 class="portfolio__img"
                                 src="images/mntn.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/mntn/"
                              target="_blank"
                              >mntn</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                        <div class="portfolio__item">
                           <a
                              class="portfolio__img-link"
                              target="_blank"
                              href="http://molexandev.top/mujo/"
                              ><img
                                 class="portfolio__img"
                                 src="images/mujo.avif"
                                 alt="screenshot"
                           ></a>
                           <a
                              class="portfolio__name-link"
                              href="http://molexandev.top/mujo/"
                              target="_blank"
                              >mujo</a
                           >
                           <p class="portfolio__description"></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </sectiuon>
   <section class="skills">
      <div class="skills__content">
         <div class="container">
            <div class="skills__wrapper" id="skills">
               <h2 class="skills__title title">Навички</h2>
               <p class="skills__text">
                  Я працюю з такими технологіями і програмами:
               </p>
               <div class="skills__inner">
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/html-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">HTML</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/css-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">CSS</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/sass-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">SCSS</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/js-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">JavaScript</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/jquery-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">jQuery</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/gulp-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">Gulp</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/git-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">Git</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/phptoshop-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">Photoshop</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/figma-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">Figma</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/op-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">OpenCart</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/bootstrap-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">Bootstrap</h5>
                     <div class="skills__stars"></div>
                  </div>
                  <div class="skills__item">
                     <div class="skills__img-box">
                        <img
                           class="skills__img"
                           src="images/wordpress-icon.webp"
                           alt="skill image"
                        >
                     </div>
                     <h5 class="skills__subtitle">WordPress</h5>
                     <div class="skills__stars"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="about">
      <div class="about__content">
         <div class="container">
            <div class="about__wrapper" id="about">
               <h3 class="about__title title">Про мене</h3>
               <div class="about__inner">
                  <div class="about__img-box">
                     <img src="images/my-photo.avif" alt="" class="about__img" >
                  </div>
                  <div class="about__info">
                     <p>Привіт!</p>
                     <p>
                        Мене звати Олександр, і я є досвідченим фронтенд
                        розробником з 7-річним досвідом роботи. Мої навички
                        охоплюють широкий спектр технологій та рамок для
                        створення сучасних веб-додатків.
                     </p>
                     <p>
                        Моя мета - надавати високоякісні та інноваційні послуги
                        для ваших потреб у сфері фронтенду. Глибокі знання HTML,
                        CSS, SCSS, Gulp, Git, JavaScript роблять мене ідеальним
                        кандидатом для ваших проектів.
                     </p>
                     <p>
                        Я завжди готовий взятися за нові виклики та
                        співпрацювати з вами над успішною реалізацією ідей.
                        Дякую за увагу та чекаю на можливість співпрацювати
                        разом!
                     </p>
                     <p></p>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
